.App {
  font-family: sans-serif;
  text-align: center;
}

.text {
  font-size: 10px;
  color: #fff;
  width: 100px;
  text-align: start;
  height: 30px;
  padding-left: 20px;
  padding-top: 5px;
}
.tooltip{
  background-color:#fff ;

}

.tooltipText{
  font-size: 12px;
  color: #000;
  text-align: start;
  padding: 5px;
}