.container {
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 5px;
    position: absolute;
    top: 270px;
    right: 85px;
    flex-direction: column;
    width: 158px;
    height: 423px;
    justify-content: space-between;
}

.item {
    display: flex;
    height: 85px;
    width: 218px;
    background-color: #fbfbfb;
    border-radius: 5px;
    align-items: center;
}

.ImgCalories {
    background-color: rgba(255, 0, 0, 0.1);
}

.ImgProteines {
    background-color: rgba(74, 184, 255, 0.1);
}

.ImgGlucides {
    background-color: rgba(249, 206, 35, 0.1);
}

.ImgLipides {
    background-color: rgba(253, 81, 129, 0.1);
}

.ImgCalories,
.ImgProteines,
.ImgGlucides,
.ImgLipides {
    width: 17px;
    padding: 15px;
    height: 17px;
    border-radius: 6px;
    margin-left: 32px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 24px;
}

.itemContainer {
    font-weight: 700;
    font-size: 17px;
}

.description{
    font-size: 12px;
    color: #74798C;
    ;
}