.mainAppContents {
    margin-left: 14%;
    margin-top: 60px;
}

.chartFlexContainer {
    display: flex;
    margin-top: 25px;
    width: 835px;
    justify-content: space-between;
}

.chartContainer {
    margin-top: 60px;
}

.chartBarItem {
    background-color: #FBFBFB;
    max-width: 835px;
    border-radius: 5px;
}

.chartLineItem {
    background-color: #FF0000;
    border-radius: 5px;
}

.chartRadarItem {
    background-color: #282D30;
    border-radius: 5px;
}

.chartAngleItem {
    background-color: #FBFBFB;
    border-radius: 5px;
}

.ldsHourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .ldsHourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #FF0000;
    border-color: #FF0000 transparent #FF0000 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes ldsHourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }