.mainAppContents {
    margin-left: 16%;
    margin-top: 40px;
}

.chartFlexContainer {
    display: flex;
    margin-top: 25px;
    width: 540px;
    justify-content: space-between;
}

.chartContainer {
    margin-top: 40px;
}

.chartBarItem {
    background-color: #FBFBFB;
    max-width: 540px;
    border-radius: 5px;
}

.chartLineItem {
    background-color: #FF0000;
    border-radius: 5px;
}

.chartRadarItem {
    background-color: #282D30;
    border-radius: 5px;
}

.chartAngleItem {
    background-color: #FBFBFB;
    border-radius: 5px;
}

.loader {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  border: 24px solid;
  border-color: transparent transparent #FF0000 #FF0000;
  position: absolute;
  left: 0;
  top: 0;
  animation: mvx 1.2s infinite ease-in;
}

.loader:before {
  border-color: #282D30 #282D30 transparent transparent;
  animation-name: mvrx;
}

@keyframes mvx {

  0%,
  10% {
    transform: translate(0, 0) rotate(0deg)
  }

  30% {
    transform: translate(-50%, -50%) rotate(0deg)
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg)
  }

  75%,
  100% {
    transform: translate(0, 0) rotate(180deg)
  }
}

@keyframes mvrx {

  0%,
  10% {
    transform: translate(0, 0) rotate(0deg)
  }

  30% {
    transform: translate(50%, 50%) rotate(0deg)
  }

  50% {
    transform: translate(50%, 50%) rotate(180deg)
  }

  75%,
  100% {
    transform: translate(0, 0) rotate(180deg)
  }
}