body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.navbar{
    margin: 0%;
}

.navbarHorizontal{
    background-color: black;
    color: white;
    margin: 0%;
    display: flex;
}

.logoSportSeeNav{
    width: 178px;
    height: 60px;
    margin: 18px 28px 18px 28px;
}

.navItemListHorizontal{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbarVertical{
    background-color: black;
    color: white;
    width: 117px; 
    height: calc(100vh - 96px);
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.navItem{
    font-size: 24px;
}

.navItemListVertical{
    list-style: none;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0%;
    align-items: center;
}

.navItemIcon{
    width: 64px;
    height: 64px;
    border-radius: 6px;
    background-color: white;
}

.IconNav{
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}

.navItemCopiryght{
    rotate: 270deg;
    font-size:10px ;
    font-weight: 500;
}